

.order-item-wrap{
    margin-top: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid #f4a7bb;
}

.order-item{
    display: flex;
    padding: 0 6%;
}

.order-item-img-wrap{
    width: 10%;
}

.order-item-img{
    width: 100%;
    border-radius: 5px;
}

.order-item-detail{
    margin-left: 20px;
}

.order-item-name{
    font-size: 1.1rem;
    font-weight: 600;
    color: #f1648a;
    cursor: pointer;
}

.order-item-price{
    font-size: 0.9rem;
    color: #f4a7bb;
}

.order-item-amount{
    font-size: 0.8rem;
    color: #f4a7bb;
}

.order-item-amount-number{

}

.order-item-total{
    display: flex;
    justify-content: end;
    padding: 0 6%;
    font-size: 0.9rem;
    font-weight: 600;
    color: #f4a7bb;
}

.order-item-total-amount{
    margin-left: 4px;
    color: #f1648a;
}

.order-item-total-wrap{
    margin-top: 14px;
}
