
.btn-custom {
    margin-top: 10px;
    margin-left: 5px;
    padding: 8px 10px;
    border: 1px solid #f4a7bb;
    border-radius: 2px;
    background-color: black;
    color: aliceblue;
    cursor: pointer;
}

.btn-custom:hover{
    color: #f4a7bb;
}

.modal{
    background-color: transparent;
    overflow: hidden;
    
}
.modal-wrapper{
    background-color: black;
    border: 1px solid #f4a7bb;
   
}

.modal-header{
    border: none !important;
}

.modal-body{
    background-color: black;
    color: #f4a7bb;
    border: none !important;
}

.modal-btn {
    background-color: black;
    border: none !important;
}
.order-btn {
    border: 1px solid #f4a7bb;
    background-color: transparent;
    padding: 8px 10px;
    color: aliceblue;
    border-radius: 5px;
}

.order-btn:hover{
    background-color: #f4a7bb;
    color: black;
}